@font-face {
  font-family: "spartan";
  src: url("../League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --light-green: #46908c;
  --dark-green: #0a4346;
  --white: #fff;
  --width: 100%;
}

body {
  background-color: var(--light-green);
  margin: 0;
  font-family: "spartan", sans-serif;
}

nav {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #0a4346ac;
  width: var(--width);
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  transition: 0.25s linear;
  /* nav transition code from @frontendjoe (IG) */
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;  
  padding-right: 20px;

}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

.nav-container img {
    width: 150px;
    padding-left: 20px;
}

#burger-check {
    display: none;
}

/* mobile screen */

@media screen and (min-width: 250px) and (max-width: 667px) {
  nav {
    flex-direction: column;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    max-width: var(--width);
    min-width: 250px;
  }

  .nav-container img {
    height: 40px;
    margin: 0px;
    padding: 20px;
  }

  /* burger container */

  .nav-links,
  #burger-check {
    display: none;
  }

  #burger-check:checked ~ .nav-links {
    display: block;
    padding: 20px 40px;
  }

  #burger-container {
    max-width: 70px;
    height: 70px;
    padding: 20px;
    padding-top: 80px;
  }

  #burger-menu:hover {
    transform: rotate(90deg);
  }
  /* Burger menu cross effect by @webdoktoru (IG) */
  .bar {
    height: 3px;
    width: 30px;
    margin-top: -8px;
    background: var(--white);
    margin-bottom: 15px;
    border-radius: 25px;
    position: relative;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }

  #burger-menu:hover .bar.center {
    transform: scale(0);
  }

  #burger-menu:hover .bar.top {
    transform: translateX(0) translateY(10px) rotate(45deg);
    background: var(--dark-green);
  }

  #burger-menu:hover .bar.bottom {
    background-color: var(--dark-green);
    transform: translateX(0) translateY(-10px) rotate(-45deg);
  }
}

/* desktop */

@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  nav ul li {
    margin: 0 20px;
  }

  /* Logo */
  .nav-container img {
    padding-left: 20px;
    padding-top: 20px;
  }
}
