@font-face {
  font-family: "spartan";
  src: url("../League_Spartan/static/LeagueSpartan-Light.ttf")
    format("truetype");
}

:root {
  --light-green: #46908c;
  --dark-green: #0a4346;
  --white: #fff;
  --grey: #212529;
  --width: 100%;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  --box-sizing: border-box;
}

header {
  background-color: var(--grey);
  height: 70px;
  display: flex;
  transition: 0.25s linear;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  /* styling below to prevent header to adjust while adjusting h1 headers (chatGPT) */
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 999;
}

header a {
  margin-top: 10px;
}

body {
  background-color: var(--light-green);
  margin: 0;
  height: auto;
  max-width: var(--width);
  font-family: "spartan", sans-serif;
}

nav ul {
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

.active {
  color: var(--light-green);
}
/* Latest posts */

.section-header {
  color: var(--light-green);
  text-align: center;
}

.section-header h2 {
  font-size: 50px;
  padding-top: 10px;
  color: #fff;
}

h3 {
  color: #000;
}

/* latest post content */

.latest-container {
  background-color: #0a4346;
  height: 600px;
}
.slides {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  width: 800px;
  height: 100%;
  max-width: var(--width);
}

.form-btn,
.view-more-btn,
.slider-btns button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--light-green);
  color: #fff;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.slider-btns {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.slider-btns button {
  background-color: var(--white);
  color: var(--dark-green);
}

.latest-blogpost {
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  margin: 5px;
  padding: 10px;
  display: block;
}

.latest-blogpost h3,
.slider-content h3 {
  font-size: 15px;
}

.latest-blogpost a,
.slider-content a {
  text-decoration: none;
  color: #000;
}

.latest-blogpost img,
.slider-content img {
  height: 200px;
  object-fit: cover;
  width: 200px;
  margin: 0 px;
  box-sizing: border-box;
}

.latest-blogpost p,
.slider-content p {
  font-size: 12px;
}

/* topic of the month container */

.topic-container {
  display: flex;
  max-width: var(--width);
  margin: 100px auto;
  background-color: var(--dark-green);
  padding-top: 20px;
}

.topic-logo {
  flex: 0 0 auto;
  margin: 0 auto;
}

.topic-logo img {
  height: 200px;
  margin-top: 50px;
  box-sizing: border-box;
  width: var(--width);
  height: auto;
}

.health-content,
.topic-content {
  height: 400px;
  width: 200px;
  margin-right: 200px;
}

.topic-content {
  left: 0;
}

.latest-blogpost {
  width: 100%;
  display: flex;
  padding: 20px;
}

/* section flex containers */

.content-title,
.section-flex-container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  width: 800px;
  height: 100%;
  max-width: var(--width);
}

.health-flex,
.lifestyle-flex {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.small-content-title-two,
.small-content-title {
  display: none;
}

.lifestyle-flex {
  margin-bottom: 50px;
  width: 90%;
}

/* specific */

.content figure {
  width: 800px;
  max-width: var(--max-width);
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: var(--width);
  max-width: var(--max-width);
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal.show {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background-color: #000;
}

.close {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* about page */
.about-container {
  width: var(--width);
  background-image: url("../images/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

/* glass effect (instagram @codewithfaraz) */
.about-info-two,
.about-info-one {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.639),
    rgba(255, 255, 255, 0.072)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.031);
  border-radius: 20px;
  padding: 20px;
  max-width: 700px;
  width: 80%;
  text-align: left;
  padding: 30px;
  margin-bottom: 100px;
}

.about-info-one {
  margin-top: 200px;
}

.about-info-two h1,
.about-info-one h1 {
  font-size: 30px;
  margin-bottom: 30px;
  width: 100%;
  color: var(--white);
  filter: drop-shadow(1px 3px 0.5px #323232b4);
  text-align: center;
  margin-bottom: 30px;
}

.about-info-one p,
.about-info-two p {
  color: var(--white);
  filter: drop-shadow(1px 1px 0.5px #323232b4);
}

/* Loader */
.loader {
  box-sizing: border-box;
  border: 16px solid #0003035c;
  border-top: 16px solid var(--light-green);
  border-radius: 50%;
  max-width: 500px;
  width: 100px;
  height: 100px;
  margin-left: 200px;
  animation: spin 3s linear infinite;
}

.latest-loader {
  margin-left: 400px;
  margin-bottom: 100px;
}

.topic-loader {
  margin: 100px auto;
  margin-left: 100px;
}

.blogsite-loader,
.specific-loader {
  margin: 20px auto;
}

.health-loader,
.lifestyle-loader {
  margin: 200px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contact form */
.contact-container {
  max-width: 500px;
  display: flex;
  position: relative;
  height: auto;
  padding: 20px;
  padding-bottom: 150px;
  margin: 0 auto;
}

p {
  margin-bottom: 0px;
}

form {
  padding: 2em;
  height: auto;
  background: white;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

input {
  width: 400px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

textarea {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid grey;
  width: 400px;
}

.character-count {
  margin: 1rem 0;
}

.message-valid {
  color: green;
}

.message.error {
  border-color: red;
  color: red;
}

.message.success {
  border-color: green;
  color: green;
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}

/* footer */
.blog-footer {
  background-color: var(--grey);
  color: #fff;
  width: var(--width);
  height: 400px;
}

.footer-info p,
.footer-links a {
  text-decoration: none;
  color: var(--white);
}

.footer-info p {
  padding: 0px;
  text-align: center;
}

.footer-row-1 {
  text-align: center;
  width: 20%;
}

.footer-logo {
  margin: 100px auto;
}

.footer-logo img {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.footer-row-2 {
  margin-top: 70px;
}

.footer-row-2 p {
  padding-left: 50px;
  margin-left: 100px;
}

.footer-info h3 {
  width: 100%;
  text-align: center;
  margin-left: 80px;
}

.footer-row-3 {
  margin: 0 auto;
  justify-content: center;
}

.footer-row-3 h5 {
  margin: 20px auto;
  text-align: center;
  height: 20px;
  width: var(--width);
}

.footer-links {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  margin-left: 100px;
}

.blog-footer h3 {
  color: var(--white);
}

.footer-links li {
  list-style: none;
  padding: 0px;
}

/* blog posts page  */
.blog-header {
  height: 50px;
  width: var(--width);
}

.blog-header h1 {
  margin-top: 200px;
  text-align: center;
  color: var(--white);
}

.specific-blog-container,
.blog-posts-container {
  height: auto;
  max-width: var(--max-width);
  margin: 0px auto;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  font-size: 15px;
}

/* fetched blog posts from api */
.specific-content,
.blog {
  background-color: var(--white);
  width: var(--width);
  max-width: var(--width);
  box-sizing: var(--box-sizing);
  padding: 20px;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  cursor: pointer;
}

.blog a {
  text-decoration: none;
  color: #000;
}

.blog h2 {
  font-size: 20px;
  color: var(--dark-green);
}

.blog img {
  margin-top: 10px;
  max-width: 300px;
  width: var(--width);
  object-position: bottom 10%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  height: 250px;
}

.blog h5 {
  margin-bottom: 10px;
}

.blog p {
  max-width: var(--width);
  height: auto;
  box-sizing: var(--box-sizing);
  width: 450px;
}

/* specific blogpost page */

.return-link,
.return-link a {
  box-sizing: var(--box-sizing);
  height: 50px;
  width: 200px;
  margin-top: 100px;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
  padding: 20px;
}

.specific-content p,
.specific-content h1 {
  text-align: center;
}

.content {
  width: var(--width);
  padding: 20px;
  box-sizing: var(--box-sizing);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
  max-height: auto;
}

.form-btn,
.view-more-btn {
  background-color: var(--white);
  color: var(--dark-green);
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
}

.view-more-btn:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.view-more-btn[disabled] {
  background-color: #eaeaea !important;
}

.form-btn {
  background-color: var(--light-green);
  color: var(--white);
}

/* mobile screen */

@media screen and (min-width: 250px) and (max-width: 811px) {
  header {
    width: var(--white);
    max-width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    display: inline-block;
  }

  header img {
    height: 30px;
    width: auto;
    margin: 30px;
    margin-top: 40px;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    margin-right: 20px;
  }

  body {
    margin: 0px;
  }

  .links ul {
    background-color: var(--grey);
    margin-top: 33px;
    height: 160px;
    width: 200px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    width: 120px;
  }

  /* adjust burger menu icon */
  .nav-links {
    height: 10px;
    padding-top: 5px;
    box-sizing: border-box;
  }

  .links ul {
    padding-top: 20px;
  }

  /* burger container */

  #burger-check {
    margin-top: 10px;
  }

  .links,
  .links ul li a,
  #burger-check {
    display: none;
  }

  #burger-check:checked ~ .links,
  .links ul li a {
    display: block;
  }

  #burger-container {
    display: block;
    margin-left: 40px;
    height: 15px;
    width: 60px;
    box-sizing: border-box;
  }

  #burger-menu {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  #burger-menu:checked {
    transform: rotate(90deg);
  }
  /* Burger menu cross effect by @webdoktoru (IG) / web-doctoru.com */
  .bar {
    height: 3px;
    width: 30px;
    margin-top: -8px;
    background: var(--white);
    margin-bottom: 15px;
    border-radius: 25px;
    position: relative;
    -webkit-transition: 0.4s all ease;
    transition: 0.6s all ease;
  }

  #burger-menu:hover .bar.center {
    transform: scale(0);
  }

  #burger-menu:hover .bar.top {
    transform: translateX(0) translateY(10px) rotate(45deg);
    background: var(--white);
  }

  #burger-menu:hover .bar.bottom {
    background-color: var(--white);
    transform: translateX(0) translateY(-10px) rotate(-45deg);
  }

  .ocean-img img,
  .hero-img img {
    object-position: top 0px left;
    object-fit: cover;
    width: 100%;
  }

  .ocean-img,
  .hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  /* latest content */

  .latest-container {
    height: 900px;
    width: var(--width);
    margin-bottom: 250px;
    margin: 0 auto;
  }

  .section-header {
    height: 40px;
    width: 100%;
  }

  .section-header h2 {
    font-size: 25px;
  }

  .slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    min-height: 200px;
  }

  .slides img {
    height: auto;
    width: 200px;
    margin-left: 40px;
  }

  .slides h2 {
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 100%;
  }

  .slides p {
    text-align: center;
    padding: 5px;
  }

  .slider-content {
    width: 200px;
    height: auto;
    margin: 10px auto;
  }

  /* topic content */

  .latest-blogpost {
    flex-direction: row;
    margin: 20px auto;
    width: 250px;
    height: 350px;
  }

  .latest-blogpost h3,
  .latest-blogpost p {
    text-align: center;
  }

  .latest-blogpost p {
    text-align: left;
    margin: 0px;
  }

  .latest-blogpost img {
    height: 230px;
    width: 240px;
    margin: 10px auto;
  }

  .topic-container {
    margin-top: 550px;
    height: 850px;
    max-width: var(--width);
    width: 100%;
    flex-direction: column;
  }

  .topic-logo {
    width: 200px;
    height: auto;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
  }

  .topic-logo img {
    height: auto;
    width: 250px;
    margin: 40px auto;
    margin-bottom: 20px;
  }

  .topic-content {
    width: 300px;
    height: 20px;
    margin: 0 auto;
  }

  .loader {
    margin: 50px auto;
  }

  /* section flex containers */

  .content-title {
    display: none;
  }

  .small-content-title-two,
  .small-content-title {
    display: flex;
    width: 280px;
    height: 100px;
    margin-bottom: 10px;
  }

  .small-content-title-two {
    margin-top: 0px;
  }

  .section-flex-container {
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .lifestyle-container,
  .health-container {
    margin: 20px auto;
    width: 350px;
    height: auto;
    max-width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .lifestyle-container {
    margin-top: 0px;
  }

  .health-container {
    margin-top: 0px;
  }

  .lifestyle-container {
    margin-bottom: 20px;
  }

  .health-flex,
  .lifestyle-flex {
    flex-direction: column;
    box-sizing: var(--box-sizing);
    margin-top: 0px;
  }

  /* blog posts */

  .blog-posts-container {
    width: 100%;
    max-width: var(--width);
    box-sizing: border-box;
  }

  .blog-posts-container img {
    height: 400px;
  }

  .view-more-btn {
    margin-bottom: 100px;
  }

  /* specific */

  .specific-blog-container {
    height: auto;
    margin-bottom: 150px;
  }

  .content {
    width: var(--width);
    padding: 20px;
    box-sizing: var(--box-sizing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden; /* preventing horizontal scroll for figure img */
  }

  figure img,
  .content img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  figure {
    margin: 0;
  }

  figure figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }

  .content p {
    text-align: left;
  }

  /* modal */

  .modal-content {
    width: 400px;
    height: auto;
  }

  .ocean {
    height: auto;
    background-color: var(--grey);
    margin-top: 300px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .ocean-img img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }

  /* contact form */

  #contactForm {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }

  input {
    width: 220px;
  }

  textarea {
    width: 225px;
  }
  /* footer */

  .blog-footer {
    height: 700px;
    width: var(--width);
    box-sizing: border-box;
    align-items: center;
  }

  .footer-row-1 {
    margin: 0 auto;
    align-items: center;
    height: 80px;
    width: var(--width);
    margin-left: 20px;
    display: flex;
  }

  .footer-logo {
    height: 30px;
    margin: 20px auto;
  }

  .footer-row-1,
  .footer-row-2 {
    padding: 0px;
    margin: 0 auto;
  }

  .footer-info h3,
  .footer-info p {
    margin: 20px auto;
    padding-left: 0px;
    text-align: center;
  }

  .footer-links {
    margin: 0 auto;
  }

  .footer-links li {
    padding: 5px;
  }

  .footer-row-3 h5 {
    margin: 40px auto;
    text-align: center;
    max-width: var(--width);
  }
}

/* desktop */

@media screen and (min-width: 810px) {
  header img {
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
    padding-left: 20px;
  }

  nav {
    justify-content: flex-start;
  }

  nav ul li {
    margin: 20px 20px;
  }

  /* Logo */
  .nav-container img {
    width: 300px;
    padding-left: 20px;
    margin-right: auto;
  }

  #burger-check {
    display: none;
  }

  .hero-logo {
    background-image: url("../icons/logo-big.svg");
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: var(--box-sizing);
    height: 400px;
    width: 500px;
    margin-left: 30px;
    position: absolute;
    top: 40%;
  }

  .ocean,
  .hero {
    position: relative;
    width: var(--width);
    max-width: var(--width);
  }

  .ocean-img,
  .hero-img {
    object-fit: cover;
    object-position: top 0px center 0px;
  }

  .ocean img,
  .hero img {
    height: 700px;
    object-fit: cover;
    width: var(--width);
    max-width: 100%;
  }

  .ocean {
    height: 100%;
    width: 100%;
    background-color: var(--grey);
  }

  /* section flex container */
  .section-flex-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .health-container {
    flex: 0 0 auto;
    margin: 20px;
    width: 50%;
    height: auto;
  }

  .lifestyle-container {
    flex: 1 1 auto;
    margin: 20px;
    width: 50%;
  }

  /* footer */
  .blog-footer {
    display: flex;
  }

  .footer-row-1 {
    flex: 0 0 auto;
  }

  .footer-row-2 {
    flex: 1 1 auto;
  }

  .footer-row-3 {
    flex: 2 2 auto;
  }

  /* blog posts page */
  .blog-posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: var(--width);
    max-width: var(--width);
    box-sizing: var(--box-sizing);
  }

  .blog {
    flex: 1 1 auto;
    max-width: 30%;
    height: 600px;
  }
}
